{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": true,
      "dynamicImport": true
    },
    "target": "es2016",
    "baseUrl": ".",
    "paths": {
      "@constants/*": ["./src/constants/*"],
      "@core/*": ["./src/core/*"],
      "@datasources/*": ["./src/datasources/*"],
      "@exceptions/*": ["./src/exceptions/*"],
      "@handlers/*": ["./src/handlers/*"],
      "@middlewares/*": ["./src/middlewares/*"],
      "@routes/*": ["./src/routes/*"]
    }
  },
  "module": {
    "type": "commonjs"
  }
}
